<!DOCTYPE html>
	<html>
	<body style="background-color:#E6E6FA">
		<head>
		<title>Semantic Web Assignment 4</title>
	</head>
		<div class="container">
			<div class='row'>
				<div class='col-lg-12'>
					<h1>Semantic Web Assignment 4</h1>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Explanation: <small>This application was done in order to evaluate and help us students of Semantic Web in the usage and creation of ontologies. The application allows the user to make queries with and without reasoning.</small></h3>
					<textarea id='query14' class='sparql' style='width: 100%' rows='10'>
PREFIX : &lt;http://www.semanticweb.org/raviquast/ontologies/2015/8/Food-ontology#&gt;

SELECT ?x WHERE {
  ?x a ?y .
}
</textarea>
					<input type="checkbox" id="reasoning" value="true"> Use reasoner</input>
					<p><br/></p>
					<div><a id="link14" class='btn btn-primary'>Execute Query</a></div>
				</div>
				<div class='col-lg-6'>
					<h3><br/><br/>Output</h3>
					<div id="linktarget14" class='well' style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Without reasoning the query returns us all instances where the statement can be found and with reasoning it returns us only where the statement was inferenced</h3>
		</div>
</script>

		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/tutorial.js") }}' type='text/javascript'></script>


	</body>
</head>
